QLabel{
    margin-bottom: 10px;
}

QPushButton{
    font-size: 11pt;
    color: white;
    background: rgb(18, 124, 237,200);
    margin-top: 5px;
    border-radius: 5px;
}

QPushButton:pressed {
    background-color: rgb(18, 124, 237)
}

QPushButton:hover {
    background-color: rgb(18, 124, 237)
}
