QWidget{
    background-color: rgb(21, 30, 39, 255);
    color: white;
}

QMenu {
    background-color: rgb(50, 60, 80);
}

QMenuBar {
    background: rgb(21, 30, 39, 150);
    color: white;
}

QMenuBar::item:selected {
    background: rgb(141, 178, 211, 255);
    color: black;
}

QMenuBar::item:hover {
    background: rgb(141, 178, 211, 255);
    color: black;
}

QPushButton{
 /*   margin-top: 10;
    margin-bottom: 10;*/
    font-size: 14pt;
    color: black;
    background: rgb(141, 178, 211, 255);
    /*background: rgb(118, 198, 211,100)*/;
    border-radius: 5px;
}

QPushButton:pressed {
    color: white;
    background-color: rgb(34, 47, 87)
}

/*QPushButton:checked {
    color: white;
    background-color: rgb(34, 47, 87)
}*/

QPushButton:hover {
    color: white;
    background-color: rgb(34, 47, 87)
}

QGroupBox {
 border: none;
}
